body
.titulo{
    width: 1000px;
    margin: 30px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.menu{
    position: relative;
    list-style: none;
    padding: 0;
    background: #F0B428;
    max-width: 1000px;
    margin: auto;
    
}

.menu li {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;

}
.menu li{
    display:inline-block;
    text-align: center;

}
.menu li a:hover{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
    
}

.submenu{
    position: absolute;
    background: #b3b3b3;
    width: 120px;
    display: none;
    
    
    
    
}

.submenu li a{
    display: block;
    padding: 5px;
    color: #333333;
    font-family: open sans-serif;
    text-decoration: none;
    

}

.menu li:hover .submenu{
    display: block;
    margin: center;
    position: absolute;
    min-width: 130px;
}

iframe{
    width: 20%;
    height: 30%;
}
.tabla{
    width: 80%;
    margin: 40px;
}

.video1{
    position: relative;
    padding-bottom: 50.25%;
}
.video1{
    position: absolute;
    width: 300%;
    height: 200%;
}

.video2{
    position: relative;
    padding-bottom: 50.25%;
    
}
.video2{
    position: absolute;
    width: 300%;
    height: 200%;
}

.video3{
    position: relative;
    padding-bottom: 50.25%;
    
}
.video3{
    position: absolute;
    width: 300%;
    height: 200%;
}
.video4{
    position: relative;
    padding-bottom: 50.25%;
   
}
.video4{
    position: absolute;
    width: 300%;
    height: 200%;
}

.manual{
    position: relative;
    padding-bottom: 50.25%;
    
}
.manual{
    position: absolute;
    width: 300%;
    height: 200%;
}
.Actividad01{
    position: absolute;
    width: 400%;
    height: 350%;
}
.Actividad02{
    position: absolute;
    width: 400%;
    height: 350%;
}
.Matriz{
    position: absolute;
    width: 300%;
    height: 200%;
}

.container{
    display: flex;
    justify-content: center;
}
.container-img{
    width: 300px;
    float: left;
}


